.items-summary {
    background-image: url('https://i.ibb.co/YZmpZBX/photo-1515377905703-c4788e51af15.jpg');
    background-repeat: no-repeat;
}

.font-icon {
    font-size: 60px;
    margin-bottom: 30px;
}